@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {

    font-family: 'Raleway';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header design */
header {
    background-color: #02176c;
    color: #fff;
    text-align: center;
    padding: 5px;
}

nav {
    width: 100%;
    height: 7vh;
    background-color: #6798aa;
    margin: 0 auto;
    text-align: center;
    padding: 2vh;
}

/*horizontal navigation bar design */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6798aa;
}

nav li {
    float: left;
}



nav li a {
    margin: 0px 50px;

    color: #ffffff;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

/*
Note: a:hover MUST come after a:link and a:visited in the CSS definition in order to be effective.

Note: a:active MUST come after a:hover in the CSS definition in order to be effective.*/




nav li a:visited {
    background-color: #622525;
}

/* 
nav li a:link {
    background-color: #e3d1e5;
} */



nav li a:hover {
    background-color: #322a69;
}


/* 
nav li a:active {
    background-color: #087066;
}  */


/* onclick */
nav li a:focus {
    background-color: #12a219;
}


/* section design */
section {
    text-align: center;
    background-color: #8cbfbc;
    width: 100%;
    float: left;
    padding: 10px;
    height: 83vh;
}

.container{
    border: .3vw solid black;
    border-radius: 20px;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1%;
    background-color: #192a56;
}

#audio{
    background-color: #273c75;
    width: 100%;
    padding: 2%;
    position: relative;
    border: .1vw solid #000000;
}

#myAudio{
    width: 100%;
    position: relative;
    filter: invert();
}

.buttons{
    border: .1vw solid black;
    padding: 3%;
    position: relative;
    margin: 1% 0 0 0;
    width: 100%;
    height: fit-content;
    background-color: #273c75;
}
.buttons button{
    position: relative;
    width: 20%;
    border: none;
    border-radius: 20px;
    padding: .4%;
    margin: 2% 6%;
    font-size: 1vw;
    border: 2px solid #00a8ff;
    background-color: #273c75;
    cursor: pointer;
}
.buttons button:hover{
    background-color: #192a56;
}
#MyList {
    position: relative;
    margin: 1% 0 0 0;
    width: 100%;
    list-style: none;
    background-color: #273c75;
    border: .1vw solid black;
    padding: 2%;
}
#MyList li{
    position: relative;
    margin: 1%;
    padding: 2% 5%;
    font-size: 1.5vw;
}

a {
    text-decoration: none;
    color: #00a8ff;
    cursor: pointer;
}

#MyList li button{
    cursor: pointer;
    float: right;
    font-size: 2vw;
    border: none;
    margin: 0;
    border-radius: 20px;
    padding: 0 2%;
    background-color: #273c75;
    border: 2px solid #00a8ff;
}
#MyList li button:hover
{
    background-color: #192a56;
    border-radius: 20px;
}
.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    display: none;
}

.custom-file-input::before {
    content: 'Add Song';
    color: #00a8ff;
    position: absolute;
    border-radius: 20px;
    padding: .8%;
    margin: 0 0 0 40%;
    border: 2px solid #00a8ff;
    background-color: #273c75;
    cursor: pointer;
    font-size: 1vw;
}

.custom-file-input:hover::before {
    background-color: #192a56;
}

.custom-file-input:active {
    outline: 0;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

footer {
    position: fixed;
    left: 0;
    clear: both;
    bottom: 0;
    width: 100%;
    background-color: #6798aa ;
    padding: 5px;
    color: white;
    text-align: center;
}